baseURL = 'https://candyfreak2.github.io/'
languageCode = 'en-us'
title = 'Jerry Kaufman'
theme = 'yassi'

[caches]
  [caches.images]
    dir = ':cacheDir/images'

[params]
  CoverImage = "/images/portrait.png"
  CoverImageWidth = 150
  accentColor = "#6a3794"  
  accentColorDark = "#6a3794" 

  useProjectCarousel = false
  
  # Social Media Links
  [params.social]
    github = "https://github.com/CandyFreak2"
    linkedin = "https://www.linkedin.com/in/jerry-kaufman/"
    mail = "mailto:jerry@kaufmanma.org"
    itchio = "https://candyfreak2.itch.io/"

[taxonomies]
  tag = "tags"
  category = "categories"

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 2
  
  [[menu.main]]
    name = "Projects"
    url = "/projects/"
    weight = 3
  
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 4

  [[menu.main]]
    name = "Acomplishments"
    url = "/acomplishments/"
    weight = 5
